doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        title #{pageTitle}
        link(rel="stylesheet", href="/assets/css/styles.css")
        style(type="text/css").
            @font-face{
                font-family: "BEANPOLL-Bold";
                src: url("../assets/fonts/BEANPOLL-Bold.woff");
            }
            @font-face{
                font-family: "PPNeueBit-Bold";
                src: url("../assets/fonts/PPNeueBit-Bold.woff");
            }
    body.loading
        main
            block content
        //-include partials/footer

    