extends base

block content
    div#matter(data-html-matter)
        ul#textContainer.text__container
    form(method="post").chat__form
        input(type="text", name="chat").chat__input#chatInput
        
    include partials/socket
    script(src="/assets/js/chat.js") 