extends base

block content
    div.home
        h1.title ZipHockey
        section.entry__section
            ul
                li
                    p#enterNewRoom 방 생성하기
                li 
                    p or
                li
                    form#enterRoomForm
                        input(type="text", name="id", placeholder="enter room id")
                        input(type="submit", value="enter")
    //- 방 생성
    div.newroom.hidden
        h1.title Create a new Room
        form#newRoomForm
            label(for="roomCapacity") roomCapacity
            div.room__capacity__container
                button.capacity__button -
                input(type="number", name="roomCapacity", value=2, min=2, max=4).room__capacity__number
                button.capacity__button +
        
            input(type="submit", value="Create").submit__btn
        p.back go back
    //- 대기방
    div.ready.hidden
        h1.title place your phone like this
        p#ready__roomName 01234
        p#ready__number waiting...
        div.phone__container
            div.phone01
        p#ready__button.orange waiting...
    
    include ./partials/socket
    script(type="text/javascript").
        const buttons = document.querySelectorAll(".capacity__button");
        const capacityNumber = document.querySelector(".room__capacity__number")
        buttons.forEach((b)=>{
            b.addEventListener("click", (e)=>{
                e.preventDefault();
                if(b.innerHTML === "+"){
                    if(capacityNumber.value < capacityNumber.max){
                        capacityNumber.value ++;
                    } else return;
                } else if (b.innerHTML === "-") {
                    if(capacityNumber.value > capacityNumber.min){
                        capacityNumber.value --;
                    } else return;
                }
            })
        })
    script(src="/assets/js/app.js")