// Config
@import "./config/_reset.scss";
@import "./config/_normalize.scss";

:root {
  --black: #1a1b1d;
  --sand: #f4ecdd;
  --orange: #ec7141;
  --green: #6f8b68;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow: hidden;
}

.play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200vw;
  height: 150vh;
  position: relative;

  .playground {
    width: 200vw;
    height: 50vh;
    background-color: var(--sand);
    position: relative;
    .racket {
      position: absolute;
      width: 5rem;
      height: 5rem;
      border-radius: 2.5rem;
      background-color: var(--orange);
    }
  }

  .controller__P2 {
    position: absolute;
    width: 100vw;
    height: 50vh;
    background-color: var(--black);
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .status__container {
      transform: rotate(-180deg);
      width: 90%;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .status__P2 {
        display: flex;
        font-size: 1.5rem;
        color: var(--sand);
        p:first-child {
          margin-right: 2.5rem;
        }
      }
    }
    .scoring__container {
      transform: rotate(-180deg);
      width: 90%;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .score__P2 {
        display: flex;
        font-size: 1.5rem;
        color: var(--sand);
        p:first-child {
          margin-right: 2.5rem;
        }
      }
    }
  }
  .controller__P1 {
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 50vh;
    background-color: var(--black);
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .status__container {
      width: 90%;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .status__P1 {
        display: flex;
        font-size: 1.5rem;
        color: var(--sand);
        p:first-child {
          margin-right: 2.5rem;
        }
      }
    }
    .scoring__container {
      width: 90%;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .score__P1 {
        display: flex;
        font-size: 1.5rem;
        color: var(--sand);
        p:first-child {
          margin-right: 2.5rem;
        }
      }
    }
  }
}

.button__container__P1 {
  width: 300px;
  height: 300px;
  border: 1px solid var(--sand);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .button {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: var(--orange);
  }
  .up {
    top: 0;
  }
  .down {
    bottom: 0;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
}

.button__container__P2 {
  width: 300px;
  height: 300px;
  border: 1px solid var(--sand);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .button {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: var(--orange);
  }
  .up {
    top: 0;
  }
  .down {
    bottom: 0;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
}
