// Config
@import "./config/_reset.scss";
@import "./config/_normalize.scss";

:root {
  --black: #231815;
  --sand: #f4ecdd;
  --orange: #ec7141;
  --green: #6f8b68;
  --6sWidth: 414px;
  --6sHeight: 624px;
  --racketSize: 62px;
  --ballSize: 40px;
  --player1: #b22829;
  --player2: #3596b1;
  --player3: #7c985e;
  --racketTop: 0px;
  --racketLeft: 0px;
}

.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.hidden {
  display: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  position: relative;
  // overflow: hidden;
  -webkit-touch-callout: none;
}

.play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(var(--6sWidth) * 2);
  height: calc(var(--6sHeight) + (var(--6sHeight) * 0.5));
  position: relative;
}

.playground {
  width: calc(var(--6sWidth) * 2);
  height: calc(var(--6sHeight) * 0.5);
  background-color: var(--sand);
  position: relative;
  transform: translate3d(0, 0, 0);
  .img__playground {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }
  .racket {
    position: absolute;
    width: var(--racketSize);
    height: var(--racketSize);
    // top: var(--racketTop);
    // left: var(--racketLeft);
    // border-radius: calc(var(--racketSize) * 0.5);
    // background-color: var(--orange);
  }
  .ball {
    position: absolute;
    width: var(--ballSize);
    height: var(--ballSize);
    // border-radius: calc(var(--ballSize) * 0.5);
    // background-color: var(--black);
  }
}

// CONTROLLER
.controller {
  position: absolute;
  width: var(--6sWidth);
  height: calc(var(--6sHeight) * 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  // border: 1px solid var(--orange);
  .img__controller {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  .img_screws {
    width: 370px;
    height: 276px;
    position: absolute;
  }
}

.controller__P2 {
  right: 0;
  top: 0;
  .status__container {
    transform: rotate(-180deg);
  }
  .scoring__container {
    transform: rotate(-180deg);
    user-select: none;
    touch-action: none;
    pointer-events: none;
  }
}
.controller__P1 {
  left: 0;
  bottom: 0;
}

// BUTTON
.button__container {
  width: 350px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // touch-action: none;
  cursor: pointer;
  touch-action: none;
  // border: 1px solid var(--sand);
  .button {
    position: absolute;
    width: 112px;
    height: 68px;
    background-color: var(--black);
    touch-action: none;
  }
  .img__button {
    // position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    touch-action: none;
    pointer-events: none;
  }
}

.button__container__P1 {
  .up {
    top: 0;
  }
  .down {
    bottom: 0;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
}

.button__container__P2 {
  .up {
    top: 0;
  }
  .down {
    bottom: 0;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
}

// SCORING
.scoring__container {
  position: relative;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  touch-action: none;
  pointer-events: none;
  // border: 1px solid var(--orange);
  h1 {
    font-family: "PPNeueBit-Bold";
    letter-spacing: 0.05em;
    font-size: 48px;
    padding: 0px;
    margin: 0px;
    line-height: 100%;
    margin-bottom: 0px;
    color: var(--black);
  }
  h2 {
    font-family: "BEANPOLL-Bold";
    position: absolute;
    color: white;
    letter-spacing: 0.05em;
    font-size: 38px;
    padding: 0px;
    margin: 0px;
    line-height: 100%;
    bottom: 9px;
  }
  .player__scores__container {
    display: flex;
    width: 180px;
    // justify-content: space-between;
    align-items: center;
    .player__scores {
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .img__board__score {
        width: 46px;
        height: 60px;
        object-fit: cover;
      }
    }
  }
  .timer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .img__board__time {
      width: 96px;
      height: 60px;
      object-fit: cover;
    }
  }
}

// STATUS
.status__container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  width: 350px;
  position: relative;
  .status {
    // justify-item: flex-start;
    position: absolute;
    p {
      font-size: 1.2rem;
      font-family: "PPNeueBit-Bold";
      color: var(--black);
    }
  }
  .lock__button {
    width: 44px;
    height: 44px;
    background: none;
    border: none;
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    font-family: "PPNeueBit-Bold";
  }
}

.fanfare__container {
  position: absolute;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  .fanfare {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      color: white;
      font-family: "PPNeueBit-Bold";
      letter-spacing: 0.05em;
      font-size: 36px;
      display: block;
      line-height: 0%;
    }
    h1 {
      color: white;
      font-family: "PPNeueBit-Bold";
      letter-spacing: 0.05em;
      line-height: 0%;
      font-size: 80px;
    }
  }
  #fanfare_P2 {
    transform: rotate(-180deg);
  }
}

.winner__container {
  position: absolute;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  .winner {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      color: white;
      font-family: "PPNeueBit-Bold";
      letter-spacing: 0.05em;
      font-size: 64px;
      display: block;
      line-height: 100%;
    }
    .restart_Btn {
      // display: block;
      background: none;
      border: 2px solid white;
      border-radius: 5px;
      padding: 10px 20px;
      font-family: "PPNeueBit-Bold";
      color: white;
      font-size: 32px;
      line-height: 100%;
      margin-top: 15px;
      vertical-align: top;
    }
  }
  #winner_P2 {
    transform: rotate(-180deg);
  }
}
