#matter {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  /* background-color: white; */
  canvas {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    background-color: transparent;
    opacity: 0;
  }
}

[data-object] {
  --move-x: 0px;
  --move-y: 0px;
  --rotate: 0rad;
  position: absolute;
  /* border-radius: 5px; */
  z-index: 2;
  background: rgba(0, 0, 0, 0.05);
  transform: translate(-50%, -50%) rotate(var(--rotate));
  top: var(--move-y);
  left: var(--move-x);
  /* padding: 20px; */
  pointer-events: none;
}

.chat__form {
  position: absolute;
  z-index: 99;
  input {
    z-index: 99;
  }
}
