.send__form {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  textarea {
    width: 90%;
    border: 2px solid black;
    outline-color: red;
  }
  input {
    width: 90%;
    height: 2rem;
    border: 0;
    background-color: black;
    color: white;
  }
}

#textAreaContainer {
  --move-y: 0px;
  position: absolute;
  background-color: darkslategrey;
  top: var(--move-y);
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
  }
}
